# Required for encryption
# https://vanascan.io/address/0xd25Eb66EA2452cf3238A2eC6C1FD1B7F5B320490?tab=read_write_proxy&source_address=0x52Be103b336A7A88278fFbC7dD145B7c4328890A#0x8fe45502
REFINEMENT_ENCRYPTION_KEY=xxx

# Optional: IPFS upload settings (nếu sử dụng Pinata cho IPFS)
PINATA_API_JWT=xxx

IPFS_GATEWAY_URL=https://gateway.pinata.cloud/ipfs

# Optional: Custom directories (uncomment nếu cần thay đổi)
INPUT_DIR=./input
OUTPUT_DIR=./output

# Optional: Schema settings
SCHEMA_NAME=Telegram Chats
SCHEMA_VERSION=0.0.1
SCHEMA_DESCRIPTION="Schema for dFusion Social Truth DLP Telegram chats"
SCHEMA_DIALECT=sqlite