*.pem
__pycache__/
*.pyc

/input/user.json
/output/*
!/output/.gitkeep
.env

.idea/
.DS_Store

extracted_images/
extracted_images_with_content/
output/
refiner/output/
refiner/output_files/
refiner/output_files_files/
